# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Caches and Logs
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.eggs 
# Sphinx documentation
docs/_build/